/* Navbar */
.navbar {
    height: 80px;
    width: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 35px;
    font-family: 'Prompt', sans-serif;
    color: #F7941F;
}

.navlinks {
    display: flex;
    align-items: center;
}

.navlinks li {
    margin-right: 25px;
}

.navlinks li:hover a, .navlinks li a.active {
    color: #fff;
}

.navlinks li a {
    font-size: 16px;
    font-family: 'Prompt', sans-serif;
    color: #ccc;
}

.searchbar {
    display: flex;
    align-items: center;
}

.search__box {
    height: 40px;
    width: 170px;
    background: #f0f0f0;
    border: 0;
    border-radius: 5px 0 0 5px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    padding: 0 5px 0 20px;
}

.submit {
    height: 40px;
    width: 40px;
    background: #f0f0f0;
    border: 0;
    border-radius: 0 5px 5px 0;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#check, .menu {
    display: none;
}

.bar {
    display: block;
    height: 3px;
    width: 30px;
    background: #fff;
    margin-top: 7px;
    border-radius: 2px;
    margin-left: 3px;
}

.coin-chart {
    margin-top: 30px;
}

.chart-title {
    color: #fff;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}

.chart-detail-box-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.chart-detail-box {
    height: 75px;
    width: 240px;
    background: rgb(118, 93, 255);
    margin-right: 25px;
    border-radius: 10px;
    padding: 10px 15px;
    color: #333;
}

.chart-detail-box:last-child {
    margin-right: 0;
}

.result {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

.chart {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.chart-row {
    width: 1000px;
    height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-top: 0;
    border-bottom: 0;
}

.chart-row:last-child {
    border-bottom: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
}

.first {
    background: rgb(70, 70, 241);
    border-radius: 10px 10px 0 0;
    border: 0;
    color: #fff;
}

.price, .volume, .marketcap {
    width: 20%;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}

.change{
    color: #fff;
}

.cryptocurrency, .exchange {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.cryptocurrency-rank, .cryptocurrency-symbol, .change, .first {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}

.change {
    width: 15%;
    text-align: right;
}

.red {
    color: red;
}

.green {
    color: green;
}

.cryptocurrency {
    width: 25%;
    display: flex;
    align-items: center;
}

.cryptocurrency-logo {
    height: 35px;
    margin-left: 25px;
}

.cryptocurrency-detail {
    margin-left: 25px;
}

/* pagination */
.pagination {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
}
.page-item {
    height: 40px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.page-active {
    background: red;
}

.previous {
    margin-right: 50px;
}

.next {
    margin-left: 40px;
}

.previous, .next {
    height: 40px;
    width: 60px;
    background: rgb(70, 70, 241);
    border-radius: 100px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.breaker {
    margin-right: 10px;
}

/* Footer */
.footer-section {
    width: 100%;
    background: #111;
    padding: 50px 50px 25px 50px;
    position: relative;
    margin-top: 50px;
}

.section-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subscribe-us {
    display: flex;
    align-items: center;
}

#enter-email {
    height: 55px;
    width: 300px;
    border: 0;
    border-radius: 5px 0 0 5px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    padding: 0 25px;
}

.subscribe-btn {
    height: 55px;
    border: 0;
    border-radius: 0 5px 5px 0;
    font-size: 18px;
    font-weight: 600;
    padding: 0 25px;
    font-family: 'Poppins', sans-serif;
    background-color: crimson;
}

.section-start {
    color: #fff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 50px;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.discription, .section-start ul {
    margin-top: 15px;
    color: #ccc;
}

.section-start ul {
    margin-left: 5px;
}

.section-start ul li {
    margin-top: 10px;
    list-style: none;
}

.section-start ul li:hover a {
    color: #fff;
}

.section-start ul li a {
    color: #ccc;
}

.important-links {
    margin-left: 130px;
}

.donate-us {
    margin-left: 130px;
}

.copyright-line {
    border: 0;
    background: #fff;
    height: 2px;
    margin-top: 25px;
}

.copright-text {
    color: #fff;
    margin-top: 15px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

/* Exchange Chart */
.exchange {
    display: flex;
    align-items: center;
    width: 40%;
}

.Exvolume, .Country {
    width: 25%;
}

.rating {
    text-align: center;
    color: #fff;
    width: 10%;
}

.Exvolume, .Country {
    text-align: right;
    color: #fff;
}



/* Loader */
.loader {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dtext {
    color: #fff;
}

/* Media */
@media (max-width: 1100px) {
    .chart-row {
        width: 900px;
    }
    .section-start {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
    .donate-us {
        margin-left: 0;
    }
}

@media (max-width: 1000px) {
    .chart-row {
        width: 800px;
    }
}

@media (max-width: 900px) {
    .chart-title {
        display: none;
    }
    .chart-detail-box-container {
        display: none;
    }
    .chart-detail-box {
        margin-right: 0;
        margin-top: 20px;
    }   
    .chart {
        display: block;
        overflow-x: scroll;
    }
    .chart-row {
        width: 900px;
        border-left: 0;
        border-right: 0;
    }
    .first {
        border-radius: 0 0 0 0;
    }
}

@media (max-width: 850px) {
    .section-start {
        gap: 25px;
    }
    .section-top {
        display: block;
    }
    .subscribe-us {
        margin-top: 10px;
    }
}

@media (max-width: 800px) {
    .chart-row {
        width: 800px;
    }
    .cryptocurrency-logo, .cryptocurrency-detail {
        margin-left: 10px;
    }
    .menu {
        display: block;
        cursor: pointer;
        height: 37px;
        width: 36px;
    }

    .bar2 {
        height: 3px;
        width: 30px;
        background: #fff;
        border-radius: 2px;
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
        margin-top: 5px;
        margin-left: 3px;
    }
      
    .bar3 {
        height: 3px;
        width: 30px;
        background: #fff;
        border-radius: 2px;
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
        margin-top: 19px;
        margin-left: 1px;
    }


    .navlinks {
        display: none;
        width: 300px;
        height: 100vh;
        top: 0px;
        position: fixed;
        background: blue;
        left: 0;
        
    }

    .mobile {
        display: block;
    }

    .navlinks li {
        margin-right: 0;
        margin-top: 15px;
        margin-left: 15px;
    }

    .navlinks li:first-child {
        margin-top: 100px;
    }

    .searchbar {
        margin-top: -135px;
        margin-left: 15px;
    }

}

@media (max-width: 675px) {
    .section-start {
        grid-template-columns: repeat(1, 1fr);
    }
    .important-links {
        margin-left: 0;
    }
}

@media (max-width: 555px) {
    .navbar {
        padding: 0 20px;
    }
}

@media (max-width: 500px) {
    .subscribe-us {
        display: block;
    }
    .subscribe-btn, #enter-email {
        width: 100%;
        border-radius: 10px 10px 10px 10px;
    }
    .subscribe-btn {
        margin-top: 10px;
    }
    .chart-row {
        width: 750px;
    }
    .cryptocurrency, .price, .change, .volume, .marketcap {
        font-size: 14px;
    }

}